body {
    margin: 3%;
    background: aquamarine;
    margin-left: 0px;
    margin-right: 0px;
}
h1 {
    text-align: center;
    color: blue;
}
h3 {
    text-align: center;
    color:darkblue;
}
canvas {
    align-content: center;
    padding:0px;
    background-color: beige;
    margin-left:300px;
    border-color: black;
    border-style: double;
}
button {
    margin-left: 100px;
    align-content: center;
    display: flexbox;
    padding: 20px;
}
#botonrojo {
    background:red;
}
#botonverde {
    background: green;
}
#botonazul {
    background: blue;
}